@tailwind base;
@tailwind components;
@tailwind utilities;



[x-cloak] {
    display: none;
}


/* PASTE KODE DI BAWAH INI */
@layer utilities {
    /* Untuk Chrome, Safari, dan Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Untuk IE, Edge, dan Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}